@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fixedCenter {
<<<<<<< HEAD
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin buttonTrans {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    cursor: pointer;
    color: $sage-main;
    transition: all 0.2s;
=======
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin linkStyle-link-visited {
  text-decoration: none;
  color: $sage-main;
  padding-bottom: .25rem;
  border-bottom: $sage-main 1px solid;
}

@mixin linkStyle-active-hover {
  text-decoration: none;
  color: $sage-secondary;
  border-bottom: $sage-secondary 1px solid;
>>>>>>> 122b33bb8fd1dfbe930207708ab1b2e13eaec703
}