@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fixedCenter {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}