.footer {
  background-color: $olive-tertiary;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: space-evenly;
  padding: 2rem;
  text-align: center;
  word-wrap: normal;

  &__logo {
    margin-bottom: 5rem;
  }

  &__links {
    @include centerFlex;

    a {
      transition: all .2s;
      font-size: 1.5rem;
    }

    a:link,
    a:visited {
      @include linkStyle-link-visited;
    }

    a:active,
    a:hover {
      @include linkStyle-active-hover;
    }
  }

  &__copyright {
    font-size: .75rem;
    margin-top: 2.5rem;
    margin-bottom: 0;

    p:first-child {
      margin-bottom: .5rem;
    }
  }
}