.header {
    overflow: hidden;
    @include centerFlex;
    position: relative;
    flex-flow: column;

    .company {
        @include fixedCenter;
        top: 33%;

        &-title {
            word-wrap: normal;
            text-align: center;
            color: #ffffff;
        }
    }

    .nav-snap {
        @include fixedCenter;
        top: 96.5%;
        background-color: transparent;
        border: transparent;
        outline: transparent;
        cursor: pointer;
        color: #ffffff;
    }

    .hero-image {
        filter: brightness(20%); //adjust shadow for image.
        height: 90vh;
        opacity: 1;
    }
}